
  
.file {
  display: flex;
  align-items: center;
}

.content {
  padding: 5px;
}

.mat-card-header .a{
  font-size: 8px;
}

@media(min-width:400px){
  .mat-card-header .a{
    font-size: 12px;
  }
}
