<ngx-spinner type="ball-scale-multiple"></ngx-spinner>
<div class="row">
  <div class="col-8">
    <label class="btn btn-default p-0">
      <input type="file" (change)="selectFile($event)" />
    </label>
  </div>
  <div class="col-4">
    <button mat-raised-button color="primary" [disabled]="!selectedFiles" (click)="upload()" cdkFocusInitial style="float: right;"> Subir
      <!--mat-icon color="primary">cloud_upload</mat-icon-->
    </button>
  </div>
</div>
  
  <div *ngIf="currentFile" class="progress my-3">
    <div
      class="progress-bar progress-bar-info progress-bar-striped"
      role="progressbar"
      attr.aria-valuenow="{{ progress }}"
      aria-valuemin="0"
      aria-valuemax="100"
      [ngStyle]="{ width: progress + '%' }"
    >
      {{ progress }}%
    </div>
  </div>
  
  <div *ngIf="message" class="alert alert-secondary" role="alert">{{ message }}</div>
  
  <div class="card-header">Lista de Archivos
      <button mat-icon-button color="warn" (click)="actualizar()" cdkFocusInitial style="float: right;">
        <mat-icon>autorenew</mat-icon>
      </button>
  </div>
    <div class="content">
      <div fxLayout="row wrap" fxLayoutGap="16px grid">
        <div fxFlex="100%" fxFlex.xs="100%" fxFlex.sm="100%" *ngFor="let file of fileInfos | async">
          <mat-card class="mat-elevation-z8">
            <mat-card-header>
              <a>{{ file.name + '.' + file.extension }}</a>
            </mat-card-header>
            <mat-card-actions>
              <button mat-icon-button color="primary" (click)="download(file.id, file.name + '.' + file.extension)">
                <mat-icon>cloud_download</mat-icon>
              </button>
              <button mat-icon-button color="warn" (click)="delete(file.id)">
                <mat-icon>delete_forever</mat-icon>
              </button>
              <mat-progress-bar *ngIf="download$ | async as download"
                [mode]="download.state == 'PENDING' ? 'buffer' : 'determinate'" 
                [value]="download.progress">
              </mat-progress-bar>
            </mat-card-actions>
          </mat-card>
        </div>
      </div>
    </div>